@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global settings */

.g-bk-color {
    background-color: #EFA461;
    padding-left: 0;
    padding-right: 0;
}

.pdset{
    padding-left: 0;
    padding-right: 0; 
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1rem;
    color: #FAC16B;
    font-family: "Roboto", sans-serif;
    
}

.section-head {
    background-color: #fbfbfb;
    text-align: center;
}

.subhead {
        text-align: center;
}

.bg-color-main {
    padding-right: 1rem;
    background-color: #0B2222;
}

.font-color-main-light {
    font-family: "Roboto", sans-serif;
    color:#0B2222;
    background-color: #fbfbfb;
}

.backing-light {
    background-color: #fbfbfb;
}

.font-color-main-dark {
    font-family: "Roboto", sans-serif;
    color: #FAC16B;
}


.section-head {
    padding-top: 1rem;
}




































/* logo */

.logo {
    max-width:19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* NAV */
.navbar-stick {
    display: flex;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
}

.navbar {
    background-color: #EFA461;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    background-color: #EFA461;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #000000;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #f1ef5e;
    transition-duration: .5s;
}


















/* ----------------------------------------Footer */

footer {
    font-size: 75%;
    background-color: #0B2222;
    color: #FAC16B;
    min-height: .01rem;
    margin: 0;
}

.social-links {
    padding-bottom: 1rem;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 0.5rem;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #FAC16B;
}

#footer-details {
    padding: 1rem;
}

