@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global settings */

.g-bk-color {
    background-color: #44b9f0;
    padding-left: 0;
    padding-right: 0;
}

body {
  background-color: #fbfbfb ;
  text-align: center;
}

p {
    font-size: 1rem;
    color: #FAC16B;
    font-family: "Roboto", sans-serif;
    
}

.section-head {
    background-color: #fbfbfb;
    text-align: center;
    padding-top: 1rem;
}

.bg-color-main {
    padding-right: 1rem;
    background-color: #0B2222;
}

.font-color-main-light {
    padding:0;
    font-family: "Roboto", sans-serif;
    color:#0B2222;
    background-color: #fbfbfb;
}

.backing-light {
    background-color: #fbfbfb;
}

.font-color-main-dark {
    font-family: "Roboto", sans-serif;
    color: #FAC16B;
}

/**Map**/

#map {
  height: 100%;
}

html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      body {
        padding: 0 !important;
      }
      
      table {
        font-size: 12px;
      }
      
      .hotel-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fbfbfb;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 10px;
        top: 0;
        position: relative;
        width: 340px;
        z-index: 1;
      }
      
      #map {
        height: 350px;
        margin-top: 10px;
        width: 950px;
        margin-left: 20px;
      }
      
      #listing {
        position: relative;
        width: 200px;
        height: 320px;
        overflow: auto;
        left: 02px;
        cursor: pointer;
        overflow-x: hidden;
        text-align: justify;
      }
      
      #findhotels {
        font-size: 14px;
      }
      
      #locationField {
        -webkit-box-flex: 1 1 190px;
        -ms-flex: 1 1 190px;
        flex: 1 1 190px;
        margin: 0 8px;
      }
      
      #controls {
        -webkit-box-flex: 1 1 140px;
        -ms-flex: 1 1 140px;
        flex: 1 1 140px;
      }
      
      #autocomplete {
        width: 80%;
      }
      
      #country {
        width: 100%;
      }
      
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      
      #resultsTable {
        border-collapse: collapse;
        width: 340px;
      }
      
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      
      .iw_table_row {
        height: 18px;
      }
      
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      
      .iw_table_icon {
        text-align: right;
      }
      
      #container {
        height: 50%;
        display: flex;
      }

      /* For Mobile */
@media screen and (max-width: 539px) {
    #map {
      margin-top: 40px;
      width: 300px;
      margin-left: 20px;
    }
    
    #listing {
      width: 100px;
    }
    #resultsTable {
      width:100px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  #map {
      width: 500px;
      height: 450px;
  }
}

/* logo */

.logo {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    }

/* NAV */

.navbar-stick {
    display: flex;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
}

.navbar {
    background-color: #44b9f0;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    background-color: #44b9f0;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #000;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #f1ef5e;
    transition-duration: .5s;
}

/* ----------------------------------------Footer */

footer {
    font-size: 75%;
    background-color: #0B2222;
    color: #FAC16B;
    min-height: .01rem;
    margin: 0;
}

.social-links {
    padding-bottom: 1rem;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 0.5rem;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #FAC16B;
}

#footer-details {
    padding: 1rem;
}


